body {
  background-image: url('/mocoen.png');  /* la ruta relativa a public */
  background-size: cover;               /* ocupa toda la pantalla */
  background-repeat: no-repeat;         /* no se repite */
  background-position: center center;   /* centrado */
  min-height: 100vh;                        /* ocupa 100% de la altura de la pantalla */
  margin: 0;                             /* quita márgenes del body */
}